.contact {
  padding-bottom: 0;

  .holder {
    max-width: 890px;
  }

  .content {
    background-color: #f7f7f7;
    padding: 40px 0 170px;
  }

  .body {
    margin: 0 auto 30px;
    max-width: 520px;
  }
}

@media screen and (min-width: 567px) {
  .contact {
    .body {
      font-size: 22px;
      margin: 0 auto 70px;
    }
  }
}
