.block.ribbon {
  p {
    margin: 0;
  }
  .content {
    position: relative;
    max-width: 100%;
  }
  .info {
    color: $highlight-color;
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 24px;
  }
  .image {
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 991px) {
  .block.ribbon {
    .content {
      max-width: 65%;
    }
    .info {
      position: absolute;
      bottom: 55px;
      left: 85%;
      width: 400px;
      font-size: 30px;
      &::after {
        // content: "";
        content: none;
        left: -100px;
        top: 0;
        border: 4px solid $highlight-color;
        position: absolute;
        width: 85px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .block.ribbon {
    .info {
      width: 480px;
    }
  }
}
