.block.us-cyborg {
  font-family: $font2-regular;

  .item-wrapper {
    font-size: 14px;
    margin-bottom: 30px;
    max-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
  }

  .title {
    text-transform: uppercase;
  }

  b {
    font-family: $font-heavy;
    font-weight: normal;
  }
}

@media (min-width: 991px) {
  .block.us-cyborg {
    .item-wrapper {
      margin-bottom: 0;
      width: 16%;
    }
  }
}
