.block.us-cyborg {
  .item-wrapper {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 45%;
    width: 100%;
  }
  .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    overflow: hidden;
    padding-bottom: 100%;    
    width: 100%;
  }  
}

@media(min-width:991px) {
  .block.us-cyborg {
    .item-wrapper {
      margin-bottom: 0;
      max-width: 16.62%;      
    }
  }
}


