.block.us-intro {
  position: relative;
  .intro-content {
    .text {
      text-align: justify;
    }
  }
  .wrapper {
    margin-bottom: 40px;
  }
  .logo {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .image {
    padding-bottom: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title {
    max-width: 180px;
    margin: 0 auto;
  }
}

@media (min-width: 767px) {
  .block.us-intro {
    .text {
      max-width: 500px;
    }
    .wrapper {
      margin-bottom: 0;
    }
    .image {
      padding-bottom: 80%;
    }
    .logo {
      margin-top: 30px;
    }
    .title {
      font-size: 16px;
    }
  }
}
