.block.us-mision-vision {
  padding-bottom: 0;

  .header {
    .col-12:last-child {
      .text {
        margin-bottom: 0;
      }
    }
  }

  .content {
    .title {
      text-align: left;
    }
  }

  .text {
    margin-bottom: 40px;
  }
  .wrapper {
    margin-bottom: 40px;
  }
  span {
    position: relative;
  }
  .text.text-start {
    margin-top: 10px;
  }

  b {
    font-family: $font-heavy;
    font-weight: normal;
  }
}

@media (min-width: 576px) {
  .block.us-mision-vision {
    .text {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 767px) {
  .block.us-mision-vision {
    .content {
      .title {
        text-align: center;
      }
    }

    .wrapper {
      text-align: left;
      span {
        position: absolute;
        left: 0;
        top: 0;
      }
      .text {
        margin-left: 60px;
      }
    }
  }
}
