.block.us-team {
  font-family: $font2-regular;
  padding-bottom: 180px;
  .item {
    margin-bottom: 30px;
  }
  .pic {
    border-radius: 100%;
    border: 1px solid #bbbbbb;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    height: 120px;
    margin: 0 auto 15px;
    width: 120px;
  }
  .desc {
    flex: 1;
    font-size: 14px;
  }
  .subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  b {
    font-family: $font-heavy;
    font-weight: normal;
  }
}

@media (min-width: 576px) {
  .block.us-team {
    .desc {
      margin-left: 20px;
    }
  }
}

@media (min-width: 767px) {
  .block.us-team {
    .pic {
      width: 150px;
      height: 150px;
    }
    .item {
      margin-bottom: 50px;
    }
  }
}
