.demo-form.contact {
  background-color: #f7f7f7;
  padding: 40px 0;

  .content {
    background-color: transparent;
    padding: 0;
  }
}

@media screen and (min-width: 767px) {
  .demo-form.contact {
    padding: 90px 0;
  }
}