.block.rpa-hiper {
  background-color: #f3f3f3;
  .content {
    font-family: "Avenir Book";
  }
}

@media (min-width: 767px) {
  .block.rpa-hiper {
    .content {
      margin-bottom: 30px;
    }
  }
}
