.block.rpa-hiper {
  background-color: #f3f3f3;
  .content {
    font-family: 'Avenir Book';
    margin-bottom: 50px;
  }
}

@media(min-width:767px) {
  .block.rpa-hiper {
    .content {
      margin-bottom: 100px;
    }
  }
}