.block.rpa-process {
  font-family: $font2-regular;
  .main-image {
    max-width: 446px;
    margin: 40px auto 50px;
  }
  .small-image {
    position: absolute;
    right: -15%;
    bottom: -25%;
    transform: translateX(-50%);
  }
}

@media (min-width: 767px) {
  .block.rpa-process {
    .main-image {
      margin: 100px auto;
    }
  }
}
