/*
    Document   : styles.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/

@import "_fonts.scss";

$text-color: #000;
$highlight-color: #e8511d;
$font-regular: "Roboto", sans-serif;
$font2-regular: "Avenir Book", sans-serif;
$font-heavy: "Avenir-Heavy", sans-serif;
$font-black: "Avenir-Black", sans-serif;

body {
  color: $text-color;
  font-family: $font-regular;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;

  &.no-scroll {
    overflow: hidden;
  }
}

.holder {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.img-fluid-wr {
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.button {
  background-color: $highlight-color;
  border-color: $highlight-color;
  border-radius: 2px;
  color: #fff !important;
  display: inline-block;
  font-family: $font2-regular;
  font-size: 14px;
  letter-spacing: 1.4px;
  min-width: 115px;
  padding: 12px 12px;
  outline: none;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background-color 355ms linear;;
}

.button:hover, .button:active {
  background-color: #fff;
  border-color: $highlight-color;
  color: $highlight-color !important;
}

.bg-highlight-color {
  background-color: $highlight-color;
}

// Deprecado en Bootstrap 5.
.text-justify {
  text-align: justify;
}

/* Outer wrapper */
.outer-wrapper {
  background-color: #fff;
  margin-bottom: 135px;
  margin-top: 75px;
  position: relative;
  z-index: 1;
}

/* Block */
.block {
  padding: 30px 0;

  .header {
    margin-bottom: 35px;
  }

  .title {
    color: $highlight-color;
    font-family: $font-heavy;
    font-size: 25px;
    margin-top: 0;
    text-align: center;
  }

  .normal-size-title {
    font-size: 12px
  }
}

@media screen and (min-width: 576px) {
  .body {
    font-size: 18px;
  }

  .outer-wrapper {
    margin-bottom: 360px;
  }

  /* Block */
  .block {
    padding: 40px 0;

    .title {
      font-size: 38px;
    }     
    
    .normal-size-title {
      font-size: 14px
    }

  }
}

@media screen and (min-width: 768px) {
  .outer-wrapper {
    margin-bottom: 325px;
  }

  /* Block */
  .block {
    padding: 65px 0;    
  }  
}


@import "components/navigation";
@import "components/contact-form";
@import "components/footer";

@import "components/home/cover";
@import "components/home/ebook";
@import "components/home/us";
@import "components/home/services";
@import "components/home/rpa";
@import "components/home/industries";
@import "components/home/ribbon";

@import "sections/contact";

@import "mixins/spacing"
