/*
    Document   : styles.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/

@import "_fonts.scss";

$text-color: #000;
$highlight-color: #E8511D;
$font-regular: "Roboto", sans-serif;
$font2-regular: "Avenir Book", sans-serif;
$font-heavy: "Avenir-Heavy", sans-serif;

body {
  color: $text-color;
  font-family: $font-regular;
  font-size: 18px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;

  &.no-scroll {
    overflow: hidden;
  }
}

.holder {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

/* Outer wrapper */
.outer-wrapper {
  background-color: #fff;
  margin-bottom: 135px;
  margin-top: 75px;
  position: relative;
  z-index: 1;
}

/* Block */
.block {
  padding: 65px 0;

  .header {
    margin-bottom: 35px;
  }

  .title {
    color: $highlight-color;
    font-family: $font-heavy;
    font-size: 38px;
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .outer-wrapper {
    margin-bottom: 360px;
  }
}

@media screen and (min-width: 768px) {
  .outer-wrapper {
    margin-bottom: 325px;
  }
}

@import "components/navigation";
@import "components/contact-form";
@import "components/footer";

@import "sections/contact";
