/*
    Document   : _navigation.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.navigation {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  height: 80px;
  padding: 20px 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;

  /* Navigation - Logo */
  .logo {
    display: block;
    width: 170px;
  }

  /* Navigation - List */
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;

    li {
      display: inline;
      margin-left: 25px;
      position: relative;
      &.li-menu {
        padding: 20px 0;
      }
      &.li-menu:hover {
        .submenu-list {
          opacity: 1;
          pointer-events: all;
          top: 50px;
          transform: translate(-50%, 0px);
        }
        .with-submenu {
          &::after {
            transform: rotate(90deg);
          }
        }
      }
      &.li-menu {
        .with-submenu {
          position: relative;
          &::after {
            content: "";
            background-image: url(../images/menu-arrow.svg);
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            height: 5px;
            top: 4px;
            right: -10px;
            position: absolute;
            transform: rotate(0deg);
            transition: transform 355ms linear;
            width: 5px;
          }
        }
      }
    }

    a {
      color: #000;
      font-family: "Avenir Book";
      line-height: 46px;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .submenu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 20px);
    transition: all 555ms ease-in-out;
    padding: 10px;
    position: absolute;
    min-height: 120px;
    width: 210px;
    pointer-events: none;
    opacity: 0;
    &::after {
      content: "";
      background-color: $highlight-color;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0.7;
      width: 100%;
      z-index: -1;
    }
    a {
      color: #fff;
      display: block;
      font-size: 10px;
      line-height: 26px;
      text-decoration: none;
    }
    li {
      margin-left: 0;
      text-align: center;
    }
  }

  /* Navigation - Toggle Button */
  .toggle-btn {
    background-color: transparent;
    border: none;
    float: right;
    outline: none;
    padding: 10px;
    width: 50px;

    .bar {
      background-color: #666;
      display: block;
      height: 3px;
      margin-bottom: 5px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .navigation {
    .list-wrapper {
      background-color: $highlight-color;
      height: 100%;
      left: 0;
      opacity: 0;
      padding: 0;
      position: fixed;
      transform: translateY(-100%);
      transition: opacity 375ms, transform 375ms;
      top: 0;
      width: 100%;
      &.list-collapsed {
        opacity: 1;
        transform: translateY(80px);
      }

      .close-list-btn {
        background: transparent;
        border: none;
        color: #666;
        font-size: 20px;
        line-height: 30px;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        right: 10px;
        top: 10px;
        width: 30px;
      }
    }

    .list {
      max-height: calc(100vh - 85px);
      overflow-y: auto;
      overflow-x: hidden;
      li.li-menu {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
        margin: 0;
        &:nth-last-child(1)::before {
          display: none;
        }
        a::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          background-color: rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
        }
        &.li-menu:hover {
          .submenu-list {
            opacity: 1;
            pointer-events: all;
            top: 0px;
            transform: translate(-50%, 0px);
          }
          .with-submenu {
            &::after {
              transform: rotate(90deg);
            } 
          }
        }
      }
      a {
        color: #fff;
        display: block;
        font-size: 14px;
        padding-left: 15%;
        text-decoration: none;
      }
    }
    .submenu-list {
      position: relative;
      opacity: 1;
      pointer-events: all;
      padding: 0;
      min-height: auto;
      top: 0px;
      width: 100%;
      transform: translate(-50%, 0px);
      .li-submenu {
        padding: 10px 0;
        text-align: left;
      }
      a {
        font-size: 12px;
        padding-left: 20%;
        &::before {
          width: 80% !important;
        }
      }
    }
  }
}
